
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400"&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth; 
  font-family: 'Poppins', sans-serif;
}
.App{
 text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background: antiquewhite;
}



#shisasasa{
  height: 450px;
  width: 500px;
}
.footer {
  position: static;
  margin-top: auto; 
  background-color: rgb(34, 29, 29); color: beige;  
  bottom:0;
  width:100%;
  text-align: center;
  }
/*
footer{
 
 
  text-align: center;
  position:absolute;

    
}*/

.schedule{
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 70%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 350px;
}



.social-media a:hover{
  background: lightblue;
  color:rgb(212, 138, 212);
 box-shadow: 0 0 5rem;
}
    
.bg{
 
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 52%, rgba(242,221,23,1) 100%);
}
