
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400"&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth; 
  font-family: 'Poppins', sans-serif;
}

.App {
   margin:0;
   padding:0;
   height:100vh;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

footer{
  margin-top: auto;
  background-color: rgb(34, 29, 29);
  color: beige;
  text-align: center;

}

.social-media a:hover{
  background: lightblue;
  color:rgb(212, 138, 212);
 box-shadow: 0 0 5rem;
}
    